/*.vssscc
*.vspscc

/src/*.vssscc
/src/*.suo
/src/oscript/oscript.csproj.user

/src/ScriptEngine/bin/x86/Debug

/src/ScriptEngine/bin/x86/Release

/src/ScriptEngine/obj/Release/*.cache
/src/ScriptEngine/obj/x86/Debug/*.cache
/src/ScriptEngine/obj/x86/Debug

/src/TestApp/bin/x86/Debug

/src/ScriptEngine/obj/x86/Release

/src/TestApp/bin/x86/Release
/src/TestApp/obj/Release

/src/TestApp/obj/x86/Debug

/src/TestApp/obj/x86/Release

/src/oscript/obj/Release

/src/oscript/obj/Debug

/src/oscript/obj/x86/Release

/src/oscript/bin/x86/Release

/src/oscript/obj/x86/Debug

/src/ScriptEngine.StdLib/bin/x86/Release

/src/ScriptEngine.StdLib/obj/Release

/src/ScriptEngine.StdLib/obj/x86/Release

/src/ScriptEngine.StdLib/obj/Debug/*.cache
/src/*.sdf
/src/Debug
/src/ScriptEngine.HostedScript/bin/x86/Debug
/src/ScriptEngine.HostedScript/obj/x86/Debug
Debug
/src/*.opensdf
/src/ipch/scriptengine.snegopat-bbe5b63/scriptengine.ipch
/src/ScriptEngine.Snegopat/Release/ScriptEngine.Snegopat.tlb
/src/ScriptEngine.Snegopat/ScriptEngine.Snegopat.tlb
/src/ScriptEngine.Snegopat/Release
/src/Release
/src/StandaloneRunner/obj/x86/Release
/src/ScriptEngine.HostedScript/obj/x86/Release
/src/ScriptEngine.HostedScript/bin/x86/Release
/src/StandaloneRunner/*.dll
/src/StandaloneRunner/bin/x86/Release
/src/ipch/scriptengine.snegopat-724401f6/*.ipch
/src/oscript/*.exe
/src/ScriptEngine.Snegopat/dlldata.c
/src/ScriptEngine.Snegopat/Snegopat_p.c
install/build/ICSharpCode.AvalonEdit.dll
install/build/ScriptEngine.HostedScript.dll
install/build/ScriptEngine.Snegopat.dll
install/build/ScriptEngine.dll
install/build/TestApp.exe
install/build/oscript.exe

#Snegopat autogenerated interfaces
src/ScriptEngine.Snegopat/Snegopat_h.h
src/ScriptEngine.Snegopat/Snegopat_i.c

#CI and full build|deploy
/dist
/install/build
*.os.xml
