/*.vssscc
*.vspscc

/src/*.vssscc
/src/*.suo
/src/oscript/oscript.csproj.user

/src/ScriptEngine/bin/x86/Debug

/src/ScriptEngine/bin/x86/Release

/src/ScriptEngine/obj/Release/*.cache
/src/ScriptEngine/obj/x86/Debug/*.cache
/src/ScriptEngine/obj/x86/Debug

/src/TestApp/bin/x86/Debug

/src/ScriptEngine/obj/x86/Release

/src/TestApp/bin/x86/Release
/src/TestApp/obj/Release

/src/TestApp/obj/x86/Debug

/src/TestApp/obj/x86/Release

/src/oscript/obj/Release

/src/oscript/obj/Debug

/src/oscript/obj/x86/Release

/src/oscript/bin/x86/Release

/src/oscript/obj/x86/Debug

/src/ScriptEngine.StdLib/bin/x86/Release

/src/ScriptEngine.StdLib/obj/Release

/src/ScriptEngine.StdLib/obj/x86/Release

/src/ScriptEngine.StdLib/obj/Debug/*.cache
/src/ScriptEngine.HostedScript/bin/Debug
Debug
*.cache
/src/ScriptEngine.HostedScript/obj/Release
/src/StandaloneRunner/ScriptEngine.HostedScript.dll
/src/StandaloneRunner/ScriptEngine.dll
/src/oscript/StandaloneRunner.exe
