version: 1.3.0.{build}
image: Visual Studio 2019
init:
- cmd: choco install msbuild.communitytasks
- ps: Set-WinSystemLocale ru-RU
- ps: Start-Sleep -s 5
- ps: Restart-Computer

environment:
  ReleaseNumber: 1.3.0
  InnoSetupPath: C:/Program Files (x86)/Inno Setup 6
  StandardLibraryPacks: C:/Program Files (x86)/OneScript/lib

install:
- cmd: choco install onescript-cli -y

before_build:
- dotnet restore src/1Script.sln
build_script:
- cmd: |
    msbuild src/1Script.sln /t:restore
    dotnet publish src\OneScriptDocumenter\OneScriptDocumenter.csproj -o doctool
    
    msbuild Build.csproj /t:CleanAll;PrepareDistributionContent;CreateDistributions /p:ReleaseNumber=%ReleaseNumber% /p:InnoSetupPath="%InnoSetupPath%" /p:OneScriptDocumenter="doctool\OneScriptDocumenter.exe"
    
test_script:
- cmd: |
    set oscript=built/tmp/bin/oscript.exe
    set opm=built/tmp/lib/opm/src/cmd/opm.os
    %oscript% %opm% install asserts
    %oscript% %opm% install logos
    msbuild Build.csproj /t:xUnitTest

artifacts:
- path: built/OneScript-*.exe
- path: built/OneScript-*.zip
- path: built/mddoc-*.zip
- path: tests/tests.xml

