#Конфигурационный файл OneScript

# Корневой каталог системных библиотек
lib.system = ../lib

# Режим проверки явных импортов библиотек через директиву #Использовать
# Возможные значения:
#   on   - ошибка компиляции при использовании библиотеки без явного импорта
#   off  - проверка отключена
#   warn - предупреждение в лог при использовании библиотеки без явного импорта, компиляция будет успешной
#   dev  - ошибка компиляции только при включенном отладчике, иначе аналогично режиму off
#lang.explicitImports=dev

#Дополнительные каталоги поиска библиотек
#lib.additional = C:\somedir;C:somedir2;

# Настройки кодировок.
# Можно указывать стандартное имя кодировки, либо значение default для выбора системной кодировки

#encoding.script=utf-8

#systemlanguage = ru