<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id="ExamplesFolder">
      <Component Id="ExampleFiles" Guid="30288046-360B-454E-B49F-F67DD9B6A1F6">
        <File Source="$(var.OutputPathForBuild)examples\snake.os"/>
        <File Source="$(var.OutputPathForBuild)examples\distr_build.os"/>
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>