<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <FeatureGroup Id="Media">
      
      <Feature Id="StandardPackage" Title="Основные файлы программы"  Level="1" ConfigurableDirectory="APPLICATIONFOLDER" Display="expand" Absent="disallow">
        <ComponentRef Id="Engine"/>
        <ComponentRef Id="HostedLib"/>
        <ComponentRef Id="ConsoleApp"/>
        <ComponentRef Id="ConfigFile"/>
        <ComponentRef Id="OpmLauncher"/>
        <ComponentRef Id="SetPathVariable"/>
      </Feature>
      
      <Feature Id="OscriptLibrary" Title="Библиотека стандартных скриптов">
        <ComponentGroupRef Id="Library.Content"/>
      </Feature>

      <Feature Id="TestApp" Title="Тестовая утилита для отладки 1Script" Level="2">
        <ComponentRef Id="TestApp"/>
      </Feature>

      <Feature Id="Snegopat" Title="Интеграция со 'Снегопатом'" Level="2">
        <ComponentRef Id="SnegopatDll"/>
      </Feature>

      <Feature Id="Examples" Title="Примеры скриптов" Level="1">
        <ComponentRef Id="ExampleFiles"/>
      </Feature>

      <Feature Id="Documents" Title="Документация по свойствам и методам (синтакс-помощник)">
        <ComponentGroupRef Id="Docs.Content"/>
      </Feature>
      
    </FeatureGroup>
	</Fragment>
</Wix>