<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="0B8916C9-DB9D-4DF0-BBA9-D93D0AE6A55A" Name="OneScript" Language="1049" Version="$(var.ProductVersion)" Manufacturer="OneScript Team" UpgradeCode="525fd963-d484-448d-bbd8-5fa06234288e">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="OneScript Engine"/>

    <Icon Id="MainIcon" SourceFile="$(var.TestApp.TargetPath)"/>
    <Property Id="ARPPRODUCTICON" Value="MainIcon" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of OneScript is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <PropertyRef Id="NETFRAMEWORK40FULL"/>

    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="OneScript">
          <Directory Id="BinFolder" Name="bin"/>
          <Directory Id="LibFolder" Name="lib" ComponentGuidGenerationSeed="F8FD669F-0B32-45C8-942F-256FEFD2E0A2" />
          <Directory Id="ExamplesFolder" Name="examples"/>
        </Directory>
      </Directory>
    </Directory>

    <Property Id="ApplicationFolderName" Value="OneScript" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="mpl2_license.rtf" />
    
    <UI>
      <UIRef Id="WixUI_FeatureTree"/>
    </UI>

    <FeatureGroupRef Id="Media"/>
    
    <!--Fresh GUIDs
    1B6964FE-3841-45B9-B7E8-C1193161CD65
    486E508F-009A-4B06-93F9-48CCDC75D7DC
    A54A721E-3C8A-4A1B-B0E6-9063160FF611
    -->

  </Product>
  
</Wix>