<?xml version="1.0"?>
<configuration>
    <system.web>
        <httpHandlers>
            <add path="*.os" verb="*" type="OneScript.ASPNETHandler.ASPNETHandler" />
        </httpHandlers>
    </system.web>

    <system.webServer>
        <handlers>
            <add name="Oscript" path="*.os" verb="*" type="OneScript.ASPNETHandler.ASPNETHandler" />
        </handlers>

        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
</configuration>