Package: onescript-engine
Version: VERSION 
Provides: onescript
Maintainer: Sergey Batanov <sergey.batanov@dmpas.ru> 
Architecture: all
Section: interpreters
Description: 1Script execution endgine.
 Cross-platform execution engine.
 for junior DevOps.
 who use 1S:Enterprise Platform.
Depends: mono-runtime, libmono-system-core4.0-cil, libmono-system4.0-cil,
  libmono-corlib4.0-cil
Recommends: mono-complete
Origin: https://bitbucket.org/EvilBeaver/1script/ 
