<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <!--
    Секция appSettings позволяет настроить логирование отладки с помощью Serilog
    Для конкретных настроек и их значений обращайтесь к справке Serilog
    https://github.com/serilog/serilog/wiki/Configuration-Basics
    -->
    <!-- Пример включения лога с уровнем подробности Debug, записываемого в файл
    <appSettings>
        <add key="serilog:minimum-level" value="Debug" />
        <add key="serilog:using:File" value="Serilog.Sinks.File" />
        <add key="serilog:write-to:File.path" value="OneScript.Debugger.log" />
    </appSettings>
    -->
</configuration>
