<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    
    <!--
    Секция appSettings позволяет настроить логирование отладки с помощью Serilog
    Для конкретных настроек и их значений обращайтесь к справке Serilog
    https://github.com/serilog/serilog/wiki/Configuration-Basics
    -->
    <appSettings>
        <!-- Поменяйте на True, чтобы включить лог -->
        <add key="onescript:log-enable" value="False" />
        <!-- Debug пишет факты случившихся событий и действий, Verbose логирует полностью все сетевые обмены -->
        <add key="serilog:minimum-level" value="Debug" />
        <!-- Укажите полный путь к файлу лога -->
        <add key="serilog:write-to:File.path" value="OneScript.Debugger.log" />
    </appSettings>
    
</configuration>
