<configuration>
	<system.web>
		<httpHandlers>
			<add verb="*" path="*.os" type="OneScript.ASPNETHandler.ASPNETHandler, ASPNETHandler"/>
		</httpHandlers>
		<customErrors mode="Off"/>
		<compilation debug="true"/></system.web>
	<system.webServer>
		<handlers>
			<add name="OneScript" path="*.os" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="File" preCondition="classicMode,runtimeVersionv4.0,bitness64"/>
      <add name="OneScript32" path="*.os" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="File" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
    </handlers>
		<defaultDocument>
			<files>
				<add value="Default.os"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<appSettings>
		<add key="CachingEnabled" value="true"/>
    <add key="ASPNetHandler" value="attachAssembly"/>
	</appSettings>
</configuration>
